.image {
	border-radius: var(--radius-box);
	max-height: 350px;
	max-width: fit-content;
	object-fit: contain;
	transition: filter 200ms ease-in-out, transform 200ms ease-in-out;
	filter: drop-shadow(1px 4px 8px rgba(0, 0, 0, 0.25));

	&:hover {
		transform: translateY(-2px) scale(1.05);
		filter: drop-shadow(2px 8px 16px rgba(0, 0, 0, 0.25));
	}

	&.isMobile {
		max-height: 200px;
	}
}
