.formInputWrapper {
	margin: 1.5rem 0;
}

.label {
	margin-left: 2px;
	font-size: 1.15rem;
	line-height: 200%;
	font-weight: 600;

	.required {
		font-size: 14px;
		color: var(--color-footer-required);
		vertical-align: super;
	}
}

.input {
	box-sizing: inherit;
	padding: var(--padding-input);
	width: 100%;
	border: 2px solid transparent;
	border-radius: var(--radius-box);

	&:focus-within,
	&:focus,
	&:focus-visible {
		outline: 2px solid var(--color-footer-input-outline);
		outline-offset: 2px;
	}

	&.error {
		border: 2px solid var(--color-error);
	}
}

.textArea {
	box-sizing: inherit;
	display: block;
	width: 100%;
	padding: var(--padding-input);
	border: 2px solid transparent;
	border-radius: var(--radius-box);

	&:focus-within,
	&:focus,
	&:focus-visible {
		outline: 2px solid var(--color-footer-input-outline);
		outline-offset: 2px;
	}

	&.error {
		border: 2px solid var(--color-error);
	}
}

.buttonWrapper {
	display: flex;
	justify-content: flex-end;
	width: 100%;
}

.hidden {
	display: none;
}

.success {
	min-height: 360px;
	margin: 20px 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border: 2px dashed var(--color-primary-light);
}

.successMessage {
	font-size: 20px;
}
