.main {
	padding-right: 2rem;
	padding-left: 2rem;
	margin-right: auto;
	margin-left: auto;
	@media (max-width: 576px) {
		padding-left: 2rem;
		max-width: 100%;
	}
	@media (min-width: 576px) {
		padding-left: 2rem;
		max-width: 540px;
	}
	@media (min-width: 768px) {
		padding-left: 2rem;
		max-width: 720px;
	}
	@media (min-width: 992px) {
		padding-left: calc(2rem + 150px);
		max-width: 960px;
	}
	@media (min-width: 1200px) {
		max-width: 1140px;
	}
	@media (min-width: 1400px) {
		max-width: 1320px;
	}
}
