.headerSection {
	padding: var(--padding-section);
	padding-top: var(--padding-section-large);
}

.heroWrapper {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
}

.textWrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-end;

	@media (max-width: 768px) {
		align-items: center;
	}
}

.textInnerWrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;

	@media (max-width: 768px) {
		align-items: center;
		text-align: center;
		margin-bottom: 2rem;
	}
}

.title {
	font-size: clamp(2rem, -0.4234rem + 5.0553vw, 4rem);
	color: var(--color-text);
	margin-bottom: 0.5rem;
	line-height: 0.85;

	@media (max-width: 768px) {
		font-size: clamp(2.5rem, 1.7857rem + 3.5714vw, 3.5rem);
	}
}

.introSubtitle {
	font-size: clamp(1.5rem, -0.6205rem + 4.4234vw, 3.25rem);
	font-weight: 100;
	line-height: 0.85;

	&.contact {
		color: var(--color-light);
	}

	@media (max-width: 768px) {
		font-size: clamp(2rem, 1.2857rem + 3.5714vw, 3rem);
	}
}

.avatarWrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.avatar {
	border-radius: 50%;
	box-shadow: '1px 1px 10px black';
}

.avatarImage {
	border-radius: 50%;
}

.buttonContainer {
	margin-top: 1rem;

	& > a:not(:last-of-type) {
		margin-right: 0.5em;
	}

	@media (max-width: 768px) {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
		text-align: center;

		& > a {
			width: min(100%, 340px);

			&:not(:last-of-type) {
				margin-bottom: 0.5rem;
				margin-right: 0;
			}
		}
	}
}

.sectionWrapper {
	padding: var(--padding-section);
	&:last-of-type {
		padding-bottom: var(--padding-section-large);
	}
}

.subtitleWrapper {
	height: 100%;
	padding: 1rem 0;
}

.subtitle {
	position: relative;
	margin-bottom: 1rem;
	&:after {
		content: '';
		position: absolute;
		height: 6px;
		width: 4rem;
		bottom: -8px;
		left: 0;
		background-color: var(--color-primary-light);
		border-radius: 6px 0 6px 0;
	}

	&.contact {
		&:after {
			background-color: var(--color-highlight);
		}
	}
}

.testimonialsWrapper {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
}

.contactWrapper {
	padding: var(--padding-section);
	padding-top: var(--padding-section-large);
	background-color: var(--color-background-footer);
}

.contactFormWrapper {
	max-width: max(500px, 50%);
}

.legalWrapper {
	background-color: var(--color-dark);
	color: var(--color-legal-text);
}

.legalContents {
	padding: var(--padding-section);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	gap: 0.5rem;
}

.madeWith {
	display: flex;
	align-items: center;
	svg {
		margin-right: 1rem;
		height: var(--size-svg);
		width: var(--size-svg);
	}

	a {
		margin-left: 0.25rem;
		display: flex;
		align-items: center;
		color: var(--color-legal-text);
		text-underline-offset: 3px;
		text-decoration-thickness: 2px;
		transition: all 250ms ease-in-out;

		&:visited {
			color: var(--color-primary-light);
		}
		&:focus {
			outline: 2px solid var(--color-primary-light);
			outline-offset: 4px;
		}
		&:hover {
			color: var(--color-primary-light);
		}
	}
}
