.logoList {
	list-style: none;
	margin: 0;
	padding: 1rem 0;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(175px, 1fr));
	column-gap: 0.5rem;
}

.logoItem {
	display: flex;
	align-items: center;
	margin-bottom: 0.25rem;
	white-space: nowrap;
	> img {
		margin-right: 1rem;
	}
}

.image {
	width: 20px;
	height: 20px;
	max-height: 20px;
	max-width: 20px;
}
