.sourceCode {
	display: flex;
	align-items: center;
	svg {
		margin-right: 1rem;
		height: var(--size-svg);
		width: var(--size-svg);
		fill: var(--color-light);
		transition: all 250ms ease-in-out;
	}
}

.sourceCodeLink {
	margin-left: 0.25rem;
	margin-right: 0.25rem;
	display: flex;
	align-items: center;
	padding: 0;
	max-width: fit-content;
	transition: all 250ms ease-in-out;
	text-underline-offset: 3px;
	text-decoration-thickness: 2px;
	color: var(--color-legal-text);

	&:hover {
		color: var(--color-primary-light);
	}

	&:focus {
		outline: 2px solid var(--color-primary-light);
		outline-offset: 4px;
	}

	&:visited {
		color: var(--color-primary-light);
	}
}
