.workLogoWrapper {
	display: flex;
	align-items: center;
	gap: 1rem;
	margin-bottom: 0.5rem;
}

.companyName {
	font-size: clamp(1.25rem, 0.6424rem + 1.2658vw, 1.75rem);
}

.position {
	margin: 0;
	padding: 0;
	font-weight: 700;
}

.dateRange {
	font-style: italic;
}
